[Unit]
Description=Try system snapshot when due

[Timer]
OnCalendar=0,12:00
RandomizedDelaySec=30min
AccuracySec=15min
Persistent=true

[Install]
WantedBy=timers.target
