[Unit]
Description=Rsync system mirror and create Btrfs snapshot
ConditionACPower=true

[Service]
Type=oneshot
Nice=19
IOSchedulingClass=idle
CPUSchedulingPolicy=idle
ExecStartPre=/usr/local/libexec/system-snapshot/check-backup-mount
ExecStart=/usr/local/sbin/system-snapshot

# Sandboxing.
LockPersonality=true
MemoryDenyWriteExecute=true
NoNewPrivileges=true
ProtectControlGroups=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelTunables=true
RestrictNamespaces=true
RestrictRealtime=true
SystemCallArchitectures=native
